.data{

position: absolute;
top:238px;
left:530px;
z-index:1;


}

.op{

position: absolute;
left:900px;
top:238px;
z-index:1;


}




body{

    overflow-x:hidden;


}
.contentscroll{


 overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  height:600px;

  overflow-x:none;


}


.contentscroll::-webkit-scrollbar {
 display: none;

}


.imgpos{


 position: relative;

}

.mytext{

 position: absolute;
  top: 40%;
  left: 5%;



}

.myhotel{

 position: absolute;
  top: 60%;
  left: 5%;


}












.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: #fa9c23 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





.ssss{

   width: 500px;
        height: 50px;

}